useDynLib(racd)
import(methods)
importFrom(ucminf, ucminf)
importFrom(parma, cmaes, cmaes.control)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(xts, xts, as.xts, axTicksByTime, is.xts)
importFrom(zoo, coredata, index)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(parallel, makeForkCluster, makePSOCKcluster, stopCluster, clusterEvalQ, clusterExport, clusterMap, parLapply, parLapplyLB, parSapply, parRapply)
exportClasses("ACDspec", "ACDfit", "ACDfilter", "ACDforecast", "ACDsim", "ACDpath", "ACDroll")
exportClasses("ACDmultispec", "ACDmultifit", "ACDmultifilter", "ACDmultiforecast")
exportMethods("skew", "shape", "skewness", "kurtosis","quantile")
exportMethods("show", "plot", "as.data.frame", "coef", "residuals", "sigma")
export("acdspec", "acdfit", "acdsim", "acdforecast")
export("acdfilter", "acdpath", "acdroll")
exportMethods("acdmultispec")
export("distbounds", "logtransform","exptransform")
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted, quantile)
import(rugarch)
