useDynLib(racd)
import(methods)
importFrom(ucminf, ucminf)
importFrom(parma, cmaes, cmaes.control)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(xts, xts, as.xts, is.xts, axTicksByTime)
importFrom(zoo, coredata, index)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(Matrix, Matrix, crossprod, t, as.matrix, as.vector)
importFrom(parallel, makeForkCluster, makePSOCKcluster, stopCluster, clusterEvalQ, clusterExport, clusterMap, parLapply, parSapply)
exportClasses("ACDspec", "ACDfit", "ACDfilter", "ACDforecast", "ACDsim", "ACDpath", "ACDroll")
exportClasses("ACDmultispec", "ACDmultifit", "ACDmultifilter", "ACDmultiforecast")
exportMethods("skew", "shape", "skewness", "kurtosis","quantile", "convergence","setstart<-","setfixed<-","setbounds<-","getspec")
exportMethods("show", "plot", "as.data.frame", "coef", "residuals", "sigma","pit","likelihood")
export("acdspec", "acdfit", "acdsim", "acdforecast")
export("acdfilter", "acdpath", "acdroll")
export("acdmultispec", "multifit", "multifilter", "multiforecast")
export("distbounds", "logtransform","exptransform")
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted, quantile)
import(rugarch)