useDynLib(racd)
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted, quantile)
importFrom(ucminf, ucminf)
importFrom(parma, cmaes, cmaes.control)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(xts, xts, as.xts, axTicksByTime)
importFrom(zoo, coredata, index)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(parallel, makeForkCluster, makePSOCKcluster, stopCluster, clusterEvalQ, clusterExport, clusterMap, parLapply, parSapply)
import(rugarch)
exportClasses("ACDspec", "ACDfit", "ACDfilter", "ACDforecast", "ACDsim", "ACDpath", "ACDroll")
exportClasses("ACDmultispec", "ACDmultifit", "ACDmultifilter", "ACDmultiforecast")
exportMethods("skew", "shape", "skewness", "kurtosis","quantile")
export("acdspec", "acdfit", "acdsim", "acdforecast")
export("acdfilter", "acdpath", "acdroll")
export("acdmultispec", "acdmultifit", "acdmultiforecast")
export("distbounds", "logtransform","exptransform")