useDynLib(dbm)
importFrom(graphics, plot, lines)
importFrom(stats, coef, fitted, vcov, residuals)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(nloptr, nloptr)
importFrom(Epi, ROC)
importFrom(xts, xts, as.xts, axTicksByTime)
importFrom(zoo, coredata, index)
export("dbm")
export("likelihood", "likelihood.default", "likelihood.dbm")
export("shadeplot", "shadeplot.xts")
export("score", "score.dbm")
S3method(fitted, dbm)
S3method(shadeplot, xts)
S3method(coef, dbm)
S3method(summary, dbm)
S3method(residuals, dbm)
S3method(print, dbm)
S3method(vcov, dbm)
S3method(deviance, dbm)
S3method(likelihood, dbm)
S3method(likelihood, default)
S3method(score, dbm)
S3method(plot, dbm)
S3method(predict, dbm)
